<% provide(:title, 'Деятельность') %>
<H2> <div align="center"> ОСНОВНЫЕ НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ:</div></H3>
	<H3> <div align="center"> Урология</div></H3>
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Диагностика и лечение пиелонефрита, цистита. 
	Профилактика и лечение мочекаменной болезни. 
	Эффективные авторские методики при лечении указанных заболеваний.
	<o:p></o:p></span></p>      
	<H3> <div align="center"> Урогинекология</div></H3>
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Диагностика и лечение инфекционно-воспалительных заболеваний 
	мочеполовой системы у женщин, вопросы коррекции недержания мочи у женщин.
	<o:p></o:p></span></p>          
	<H3> <div align="center"> Мужская консультация (андрология)</div></H3>
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Консультации, обследование и лечение по любым вопросам мужского здоровья: 
	нарушения сексуальной функции, расстройства эрекции, мужское бесплодие, воспалительные 
	заболевания предстательной железы, мочеиспускательного канала, яичек, хирургические заболевания 
	половых органов, возрастной дефицит мужского полового гормона.
	<o:p></o:p></span></p>          
	<H3> <div align="center"> Физиотерапия</div></H3>
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Лечение различных заболеваний мочевой и половой системы на уникальном 
	аппаратно-программном комплексе «Андро-Гин».
	<o:p></o:p></span></p>       
	<H3> <div align="center"> Фитотерапия</div></H3> 
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Использование оригинальных растительных сборов по рецептам традиционной 
	тибетской медицины в профилактике и лечении заболеваний мочевыделительной и 
	половой системы.
	<o:p></o:p></span></p>     
	<H3> <div align="center"> Психотерапия</div></H3>   
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Современные психотерапевтические методики при семейных дисгармониях, 
	алкоголизме, табакокурении, ожирении.
	<o:p></o:p></span></p>     
   	<H3> <div align="center"> УЗИ-диагностика</div></H3>
	<p style='text-align:justify'><span style='font-size:14.0pt;
	mso-bidi-font-family:Arial;color:#323232'>
	Широкий спектр ультразвуковых исследований внутренних органов.
	<o:p></o:p></span></p>
