<% provide(:title, 'Деятельность') %>
<H2>ОСНОВНЫЕ НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ:</H2>
	<H3>Урология</H3>
	<p>
	Диагностика и лечение пиелонефрита, цистита. 
	Профилактика и лечение мочекаменной болезни. 
	Эффективные авторские методики при лечении указанных заболеваний.
	</p>      
	<H3>Урогинекология</H3>
	<p>
	Диагностика и лечение инфекционно-воспалительных заболеваний 
	мочеполовой системы у женщин, вопросы коррекции недержания мочи у женщин.
	</p>          
	<H3>Мужская консультация (андрология)</H3>
	<p>
	Консультации, обследование и лечение по любым вопросам мужского здоровья: 
	нарушения сексуальной функции, расстройства эрекции, мужское бесплодие, воспалительные 
	заболевания предстательной железы, мочеиспускательного канала, яичек, хирургические заболевания 
	половых органов, возрастной дефицит мужского полового гормона.
	</p>          
	<H3>Физиотерапия</H3>
	<p>
	Лечение различных заболеваний мочевой и половой системы на уникальном 
	аппаратно-программном комплексе «Андро-Гин».
	</p>       
	<H3>Фитотерапия</H3> 
	<p>
	Использование оригинальных растительных сборов по рецептам традиционной 
	тибетской медицины в профилактике и лечении заболеваний мочевыделительной и 
	половой системы.
	</p>     
	<H3>Психотерапия</H3>   
	<p>
	Современные психотерапевтические методики при семейных дисгармониях, 
	алкоголизме, табакокурении, ожирении.
	</p>     
   	<H3>УЗИ-диагностика</H3>
	<p>
	Широкий спектр ультразвуковых исследований внутренних органов.
	</p>
