<% provide(:title, 'Контакты') %>
 <div style='font-size:18.0pt;
	mso-bidi-font-family:Arial;color:#323232'>Лечебно-консультативный центр "Уромед" находится по адресу: г. Улан-Удэ, ул. Добролюбова, 1 (ниже остановки трамвая "Аптека").</div>
	<H1>
	<div style='font-size:18.0pt;
	mso-bidi-font-family:Arial;color:#323232'><font color="red">тел. (3012) 46-72-82<font color="#000000"></div>
	</H1>
        <!--<H3>e-mail: <a href="mailto:mail@uromed-lkc.ru">mail@uromed-lkc.ru</a></H3>-->
	<H2>
	<div style='font-size:18.0pt;
	mso-bidi-font-family:Arial;color:#323232'>Режим работы:</div>
	<div style='font-size:18.0pt;
	mso-bidi-font-family:Arial;color:#323232'>с понедельника по пятницу: с 9.00 до 19.00
	<br>
	суббота: с 9.00 до 13.00
	<br>
	выходной: <font color="red"> воскресенье</div>
	</H2>

