<% provide(:title, 'Контакты') %>
 	<p>Лечебно-консультативный центр "Уромед" находится по адресу: г. Улан-Удэ, ул. Добролюбова, 1 (ниже остановки трамвая "Аптека").</p>
	<H1>тел. (3012) 46-72-82</H1>
	<H2>Режим работы:</H2>
	<p>с понедельника по пятницу: с 9.00 до 19.00
	<br>
	суббота: с 9.00 до 13.00
	<br>
	выходной: воскресенье</p>
	

