<% provide(:title, 'Главная') %>
<h1>Уромед - главная.</h1>
<p> «Уромед» – центр урологии и андрологии, предоставляет современный уровень диагностики, лечения и реабилитации мужского здоровья. У нас трудятся высококвалифицированные врачи, имеющие большой практический опыт работы в ведущих лечебных учреждениях города и республики, прошедшие стажировку в лучших центральных клиниках страны и за рубежом. В Центре используются передовые разработки в области медицинской техники, все лучшее, что создано за последние годы. В наш Центр может обратиться любой человек вне зависимости от возраста и места жительства; при необходимости гарантируется полная анонимность посещения.</p>
<div>Спасибо, что посетили наш сайт!</div>
