<% provide(:title, 'Главная') %>
<p style='text-align:justify'><span style='font-size:18.0pt;
mso-bidi-font-family:Arial;color:#323232'>
<b>«Уромед» </b>– центр урологии и андрологии, предоставляет современный  уровень диагностики, лечения и реабилитации мужского здоровья. 
<img src="/Images/foto2y.jpg" border="0"  width="320" height="240" class="leftimg">
У нас трудятся высококвалифицированные врачи, имеющие большой практический опыт работы в ведущих лечебных учреждениях города и республики, прошедшие стажировку в лучших центральных клиниках страны и за рубежом. 
В Центре используются передовые разработки в области медицинской техники, все лучшее, что создано за последние годы. 
	В наш Центр может обратиться любой человек вне зависимости от возраста и места жительства; при необходимости гарантируется полная анонимность посещения.

<o:p></o:p></span></p>

<div style="text-align:center; font-size:18.0pt;
mso-bidi-font-family:Arial;color:#323232'"><b>Спасибо, что посетили наш сайт!</b></div>
