<% provide(:title, 'Главная') %>
<p class="home">
<b>«Уромед» </b>– центр урологии и андрологии, предоставляет современный  уровень диагностики, лечения и реабилитации мужского здоровья. 
<%= image_tag('foto2y.jpg', width:'320', height:'240', class:"leftimg") %>
У нас трудятся высококвалифицированные врачи, имеющие большой практический опыт работы в ведущих лечебных учреждениях города и республики, прошедшие стажировку в лучших центральных клиниках страны и за рубежом. 
В Центре используются передовые разработки в области медицинской техники, все лучшее, что создано за последние годы. 
В наш Центр может обратиться любой человек вне зависимости от возраста и места жительства; при необходимости гарантируется полная анонимность посещения.
</p>
<p class="home-center"><b>Спасибо, что посетили наш сайт!</b></p>
