<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Подтверждение регистрации на www.uromed-lkc.ru</h1>
    <p>
      Вы получили это письмо т.к. указали данный email при регистрации на
      сайте www.uromed-lkc.ru. 
    </p>
    <p>
      Если вы не регистрировались на сайте www.uromed-lkc.ru, проигнорируйте
      это письмо.
    </p>
    <p>
      Для завершения регистрации перейдите по ссылке: <%=  @url %>.
    </p>
    <p>Спасибо!</p>
  </body>
</html>