@import "bootstrap";

$grayLighter: #999;

 html {
 	background-color: #fff;
 	margin: 0;
 	padding: 0;
 }
 body {
 	background-color: #fff;
 	margin: 0;
 	padding: 0;
 }

 /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
	text-align:justify;
  	font-size: 14.0pt;
  	font-family: Arial;
  	line-height: 1.5;
  	/*text-indent: 1.5em;*/
}

p.home {
	text-align:justify;
  	font-size: 18.0pt;
  	font-family: Arial;
  	line-height: 1.5;
}

p.home-center {
	text-align:center;
  	font-size: 18.0pt;
  	font-family: Arial;
  	line-height: 1.5;
}


/* end typography */

 .content-wrapper {
 	margin: 0 auto;
 	max-width: 960px;
 }

 .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
 }

 input, textarea, select {
  	border: 1px solid #bbb;
  	width: 100%;
  	margin-bottom: 15px;
 }

 div.sign_up {
 	max-width: 300px;
 }

 div.sign_block {
 	right: 1px;
 	text-align: right;
 }

 div.logobk {
 	border-top: 10px solid #28166f;
 	background: #fff;
 	background: linear-gradient(to top,#fff,#9AA8D3);
 	padding: 20px;
 	/*padding-left: 100px;*/
 	margin: 0 auto;
 }
 div.topinfo {
 	color: #999;
 	font-size: 8.0pt;
 	right: 1px;
 	text-align: right;
 }
 div#error_explanation{
 	color: red;
 	font-size: 8.0pt;
 	li {
 		list-style-type: none;
 	}
 }

 /*стили меню*/
 ul#topmenu {
 	list-style: none;
 	padding: 0;
 	text-align: center;
 	margin-bottom: 40px;
 	margin-top: 5px;
 	font-size: 15.0pt;
 	font-weight: bold; 
 	li {
 		display: inline;
 		padding-left: 15px;
 		a {
 			text-decoration: none;
 			color: #999;
 			&:hover {
 						color: #28166f;
 			}
 			&:active {
 						color:red;
 			}
 		}
 	}

 }
 /*конец --стили меню*/	

 footer.footer{
 	border-top: 1px solid #9AA8D3;
 	text-align: center;
 	font-size: 9.0pt;
 	margin-top: 5%;
 	color: #999;
 }
 #logo {
 	display: block;
 	height: 100px;
 	margin: 0 auto;
 	max-width: 960px;
 	background-image: url('logo.png');
 	background-repeat: no-repeat;
 	background-position: center;
 }
 #sign_up {
 	font-size: 9.0pt;
 	color: #999;
 } 

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

 .gravatar {
   float: left;
   margin-right: 10px;
 }

 /*Мобильная версия*/
@media only screen and (max-width: 850px){
	#logo{
		background-image: url('/assets/logo3.png')
	}
	ul#topmenu li {
		display: block;
	}
}
