<footer class="footer">
  <p > &copy; 2015 <a href="http://www.uromed-lkc.ru/">uromed-lkc.ru</a> | Сайт лечебно-консультативного центра "Уромед", г. Улан-Удэ, ул. Добролюбова, д. 1, тел. (3012) 46-72-82. </p>
</footer>